doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/css/aui.css', media='all')
		script(src='http://vnvc:2990/jira/atlassian-connect/all.js', data-options='sizeToParent:true')
		script(src='//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/js/aui-all.js')
	body
		div.ac-content
			block content