extends layout

block content
	div#tabs-example-first.tabs-pane.active-pane Projects
	div#tabs-example-third.tabs-pane
		include spread
	div#tabs-example-second.tabs-pane
		include cases
	script.
		console.log('#{tab}');
		if('#{tab}'!='') AJS.tabs.change(AJS.$('a[href=\##{tab}]'));